<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar/sidebar__header.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="https://via.placeholder.com/100" alt="">
            <div class="profile__name">Николай Ивченко</div>
            <div class="profile__prof">блог front-end разработчика</div>

            <ul class="social">
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/social/instagram.svg" alt="instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/social/vk.svg" alt="vk">
                    </a>
                </li>
                <li class="social__item">
                    <a class="social__link" href="#" target="_blank">
                        <img src="assets/images/social/pinterest.svg" alt="pinterest">
                    </a>
                </li>
            </ul>
            <div class="profile__text">
                <p>Front-end разработчик. Практик верстки сайтов. Созданием сайтов занимаюсь с 2012 года. Работал в нескольких ИТ компаниях и наработал более 10 000 часов в создании сайтов различной сложности.</p>
            </div>
        </div>
    </div>
    <div class="sidebar__footer">
        <a class="btn btn--red" href="#">Мой работы</a>
        <button type="button" class="btn btn--blue">Написать мне</button>
    </div>
</aside>