.search {
    width: 100%;
    max-width: 21rem;
    background-color: $primary;
}

.search__input {
    display: block;
    padding: 1.2rem 2rem;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.2rem;
    color: $white;
    &::placeholder {
        color: rgba($white, .4);
    }
}