@import "_vars";
@import "vendor/reset";
html {
    /* Задаем высоту основного шрифта значение 62.5% дает возможность все делить на 10 и получать rem*/
    font-size: 62.5%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    /*Дальше нужно посмотреть какой основной шрифт везде используется*/
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #181818;
    font-size: 1.4rem;
    line-height: 1.5;
    color: $white;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    /*Свойства width и height включают в себя значения полей и границ, но не отступов (margin)*/
}

p {
    margin: 0 0 10px;
}

.btn {
    padding: 0;
}


/* blocks */

@import "blocks/wrapper";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/subnav";
@import "blocks/search";
@import "blocks/sidebar";
@import "blocks/main";
@import "blocks/container";
@import "blocks/profile";
@import "blocks/social";
@import "blocks/btn";
@import "blocks/stories";
@import "blocks/add-post";
@import "blocks/post";
@import "blocks/embed";
@import "blocks/pagination";
@import "blocks/related";
